# Virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env

# VS Code workspace settings
.vscode/

# Logs
*.log

# IDE/editor temp files
*.swp
*.swo

# Mac/Linux file system artifacts
.DS_Store
Thumbs.db
/assets/Daggerheart_Core_Rulebook-5-20-2025-1.pdf
